        <div class="five columns" id="left">
            <div class="circular"></div>
            <h4 id="name"><strong>Eden Zik </strong></h4>
            <p id="desc">A Computer Science student at <a href="http://www.brandeis.edu">Brandeis University</a>. Interested in system design and databases.

            <br />
            <br />
            I made some things. Check them out! Also refer to my <a href="http://www.sharelatex.com/github/repos/edenzik/resume/builds/latest/output.pdf">resume</a> for more information.
            </p>

            <div id="external">
                <br>
                <a href="mailto:edenzik@gmail.com" class="svg-icon email"></a>
                <a href="http://github.com/edenzik/" class="svg-icon github"></a>

                <a href="http://www.linkedin.com/in/edenzik" class="svg-icon linkedin"></a>
                <a href="http://stackoverflow.com/users/2593964/edenzik" class="svg-icon stackoverflow"></a>
                <a href="http://twitter.com/edenzik" class="svg-icon twitter"></a>
            </div>




        </div>
