        <div class="five columns" id="left">
            <div class="circular"></div>
            <h2 id="name"> Eden Zik </h2>
            <p id="desc">I am a Computer Science student finishing my senior year at <a href="http://www.brandeis.edu">Brandeis University</a>.
            <br>

            <br>

            Interested in system design and databases, sometimes both.

            <br><br>

            I made some things. Check them out! 


            </p>

            <div id="external">
                <a class="button ref" href="http://www.sharelatex.com/github/repos/edenzik/resume/builds/latest/output.pdf">Resume</a>
                <br>
                <br>
                <a href="mailto:edenzik@gmail.com" class="svg-icon email"></a>
                <a href="http://github.com/edenzik/" class="svg-icon github"></a>

                <a href="http://www.linkedin.com/in/edenzik" class="svg-icon linkedin"></a>
                <a href="http://stackoverflow.com/users/2593964/edenzik" class="svg-icon stackoverflow"></a>
                <a href="http://twitter.com/edenzik" class="svg-icon twitter"></a>
            </div>




        </div>
